.grid {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
  width: 100%;
  max-width: 68%;
  margin: auto;
  font-size: 36px;
  z-index: 51;
}

.learn {
  font-style: bold;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.learn:hover {
  transform: scale(1.1);
}

.blue {
  color: '#19aad5';
}

@media only screen and (max-width: 600px) {
  .center {
    width: 100%;
    max-width: 90%;
    font-size: 28px;
  }
}
